body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.Input{
    padding: 8px 16px;
    margin: 20px;

    background-color: rgb(153, 181, 206);

    font-size: 18px;
}

.textCenter{
    text-align: center;
}

.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}